


@font-face {
    font-family: "Disket-Mono-Bold";
    src: url("/fonts/Disket-Mono-Bold.ttf");
}

html {
    overflow-x: hidden;
}

.blackground {
    background-color: #222222;
}

main {
    view-transition-name: unique-name;
}

.navbarbase {
    overflow-x:hidden;
    view-transition-name: main-header;
    background-color: #1f0001;
    margin-right: -1vw;
    margin-left: -1vw;
    box-shadow: 0px 0px 50px,
    -5px -5px 6px rgba(0, 0, 0, 0.247) inset;
    margin-top: -1vw;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-shadow: 0px 5px black;
}

.navbarbase a {
    color: #b4b4b4;
    font-family: 'Bahnschrift';
    font-size: 36px;
    font-weight: lighter;
    font-stretch: extra-condensed;
    text-decoration: none;
    position: flex;
    margin-left: 1vw;
    margin-right: 1vw;
}

.navbarbase .navs {
    transition: 0.3s ease;
}

.navbarbase .navs:hover{
    text-shadow: 0px 2px 5px red;
    color: rgb(255, 255, 255);
}

.navbarbase .red {
    color: #a30000;
    margin: 0;
    font-family: "Disket-Mono-Bold";
    font-size: 76px;
    text-align: left;
}

.navbarbase .nopad {
    margin: 0;
    font-family: "Disket-Mono-Bold";
    font-size: 76px;
    color: #cccccc;
}

.navbarbase div {
    text-align: center;
}

.navbarbase .logo {
    text-align: left;
    padding-top: 1vw;
    padding-left: 16.5vw;
    margin-bottom: -1vw;
}

.infotext {
    font-family: 'Bahnschrift';
    font-weight: lighter;
    font-stretch: condensed;
    font-size: x-large;
    margin-right: 16vw;
    margin-left: 16vw;
    .infoheader {
        color: #c0c0c0;
        padding-top: 15px;
        margin-bottom: -18px;
        font-size: xx-large;
    }
    .infodesc {
        color: #dfdfdf;
        margin-left: 1vw;
    }
    .infocenter {
        text-align: center;
        color: #dfdfdf;
    }
}

.flex-side-box {
    font-family: 'Bahnschrift';
    font-weight: lighter;
    font-stretch: condensed;
    font-size: x-large;
    color: #dfdfdf;

    margin-right: 16vw;
    margin-left: 16vw;
    display: flex;
    .infotext {
        margin-right: 0;
        margin-left: 0;
    }

    .news {
        background-color: #141414;
        width: 30vw;
        margin-left: 2vw;
        .guy {
            height: 42vh;
            background-color: #222222;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.5) inset;
        }
        .devlogs {
            height: 45vh;
            padding-top: 1vw;
            padding-left: 0.5vw;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.4) inset;
        }
    }

    .media {
        background-color: #350405;
        margin-left: 1vw;
        height: 55vh;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.4) inset;
    }
}

.footer-main {
    overflow-x:hidden;
    font-family: 'Bahnschrift';
    font-weight: lighter;
    font-stretch: condensed;
    font-size: 27px;
    color: #dfdfdf;
    background-color: #000000;
    padding: 0.5vw;

    margin-right: -1vw;
    margin-left: -1vw;

    padding-top: 2vh;
    margin-top: 2vh;
    margin-bottom: -1vh;
    box-shadow: 0px 0px 10px black;
    text-align: center;
    .auth {
        margin-bottom: 10px;
        a {
            color: white;
            text-decoration: none;
            margin: 10px;
            transition: 0.3s ease;
        }
        a:hover {
            text-shadow: 0px 0px 15px rgb(200, 0, 0);
            color: red;
        }
    }
    .zteam {
        text-shadow: 0px 0px 25px rgb(200, 200, 200);
        font-size: xx-large;
        margin-bottom: 10px;
    }
    .z {
        text-shadow: 0px 0px 25px rgb(250, 0, 0);
        color:red;
    }
}

.copiedText {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%) translateY(-10px);
  opacity: 0;
  background: #222;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  pointer-events: none;
  box-shadow: 0px 0px 15px rgb(0, 0, 0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.copiedText.show {
  opacity: 1;
  transform: translateX(-50%) translateY(10px);
}

.serverstable {
    border-collapse:separate;
    width: 65vw;
    position: center;
    margin: auto;
    display: table;
    background-color: rgb(15, 15, 15);
    color: white;
    text-align: left;
    padding: 12px;
    transition-duration: 0.3s;
}

.servers {
    font-family: 'Bahnschrift';
    font-weight: lighter;
    font-stretch: condensed;
}

a {
    color:#ffffff;
    transition-duration: 0.3s;
}

a:hover {
    text-shadow: 0px 0px 25px rgb(250, 0, 0);
    color:#ff0000;
}

ol {
    color: white;
}

@view-transition {
  navigation: auto;
}

@keyframes slide-from-right {
  0% {
    /* Arrive from the right */
    transform: translateX(5vw);
    opacity: 0;
  }
  100% {
    /* Come into view */
    transform: translateX(0);
    opacity: 1;
  }
}


::view-transition-old(root) {
  animation: none;
}

::view-transition-new(root) {
  /* Apply animation to hobbies.html */
  animation: slide-from-right 0.3s;
}