@font-face {
    font-family: "Disket-Mono-Bold";
    src: url("../fonts/Disket-Mono-Bold.ttf");
}


body {
	background-color: black;
	display: flex;
	justify-content: center;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(0deg,rgb(0, 0, 10) 0%, rgba(0, 0, 0, 1) 100%);
}

.text_1 {
	font-family: "Disket-Mono-Bold", sans-serif;
	font-weight: bold;
	font-size: 12vh;
	color: rgb(200, 0, 0);
	text-align: center;
}
#text_tips {
	font-family: 'Bahnschrift';
    font-size: 3vh;
    font-weight: lighter;
    font-stretch: extra-condensed;
	color: rgb(200,200,200);
	text-align: center;
	transition: 1s ease-in-out;
	opacity: 1;
}

.info {
	font-family: 'Bahnschrift';
    font-size: 2.5vh;
    font-weight: lighter;
    font-stretch: extra-condensed;
	color: rgb(200,200,200);
	text-align: center;
}
.info-down{
	font-family: 'Bahnschrift';
    font-size: 2vh;
    font-weight: lighter;
    font-stretch: extra-condensed;
	color: rgb(50,50,50);
	position: absolute;
	top: 95%;
}

.centertext {
	position: absolute;
	margin-top: 40vh;
	text-align: center;
}
