body {
	background-color: black;
	display: flex;
	justify-content: center;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

.text_1 {
	font-family: "Disket Mono", sans-serif;
	font-weight: bold;
	font-size: 600%;
	color: rgb(200, 0, 0);
}

.centertext {
	position: absolute;
	margin-top: 40vh;
}