@font-face {
    font-family: "Disket-Mono-Bold";
    src: url("../fonts/Disket-Mono-Bold.ttf");
}


body {
	background-color: rgb(8, 6, 10);
	display: flex;
	justify-content: center;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

.text_1 {
	font-family: "Disket-Mono-Bold", sans-serif;
	font-weight: bold;
	font-size: 12vh;
	color: rgb(223, 46, 46);
	text-shadow: 3px 3px rgb(42, 28, 61);
	text-align: center;
}
#text_tips {
	font-family: 'Bahnschrift';
    font-size: 3vh;
    font-weight: lighter;
    font-stretch: extra-condensed;
	color: white;
	text-shadow: 2px 2px rgb(42, 28, 61);
	text-align: center;
	transition: opacity 1s ease-in-out;
	opacity: 1;
}

.info {
	font-family: 'Bahnschrift';
    font-size: 2.5vh;
    font-weight: lighter;
    font-stretch: extra-condensed;
	color: white;
	text-shadow: 2px 2px rgb(42, 28, 61);
	text-align: center;
}
.info-down{
	font-family: 'Bahnschrift';
    font-size: 2vh;
    font-weight: lighter;
    font-stretch: extra-condensed;
	color: rgb(155,155,155);
	position: absolute;
	top: 95%;
}

.centertext {
	position: absolute;
	margin-top: 40vh;
	text-align: center;
}

.gradient {
	position: absolute;
	width: 100vw;
    height: 100vh;
	
	background: linear-gradient(0deg,rgba(94, 23, 23, 0.5) 5%, rgba(0, 0, 0, 0) 70%);
}
